body{
    background-color: lightgrey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.container{
    border: 1px solid black;
    background-color: beige;
    width: 200px;
}


#media{
    color: black;
    background-color: aqua;
    margin-top: 5px;
    margin-left: 70px
}

section{
    text-align: center;
}

label{
    margin-left: 14px;
}

input{
    border-style:ridge;
}