body{
    background-color: lightgrey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid black;
    background-color: beige;
}

label{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

button{
    background-color: aqua;
    margin-left: 40px;
}